@model IT_StudioTestTask.Models.Photos

@{
    ViewData["Title"] = "Редактировать фото";
}

<h1>Редактировать фото</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ImageSrc" />
            <input type="hidden" asp-for="uploadTime" />
            <div class="form-group">
                <label class="control-label">Discription</label>
                <input asp-for="Disription" class="form-control" />
                <span asp-validation-for="Disription" class="text-danger"></span>
            </div>
            <img src="~/Images/@Model.ImageSrc"/>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
